body {
  font-family: "Helvetica", Arial;
  font-weight: 300;
  margin: 0;
  background-color: black;
}

/*#container {
  display: table;
  height: 100%;
  width: 100%;
}

#canvas {
  display:table-row;
  height:100%;
}*/